$color_1: #fff;
$color_2: grey;
$font_family_1: Lato;
$background_color_1: #000;

body {
	font-family: $font_family_1;
	padding-top: 70px;
	background-color: $background_color_1;
}
.nav {
	padding-left: 30px;
	padding-top: 30px;
	li {
		a {
			color: $color_1 !important;
			font-size: 16px;
			&:hover {
				color: $color_2 !important;
			}
		}
	}
}
.testowo {
	color: #fff;
}